@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.homeHeader {
  font: bold 300% Consolas, Monaco, monospace;
  border-right: 0.1em solid white;
  width: 16.5em;
  width: 14ch;
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(14, end),
    blink-caret 0.5s step-end infinite alternate;
  margin-bottom: 80px;
  font-size: 100px;
  text-align: center;
}

* {
    background-color: #666
}

.homeContent {
  text-align: center;
  margin-bottom: 3px;
}

.custom-btn {
 margin-left: 50%;
 margin-left: 50%;
 margin-top: 90%;
}

@media screen and (max-width:768px) {
  .homeHeader{
    font-size: 50px;
  }
}