@keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }


  }
  .contactHeader {
    font: bold 300% Consolas, Monaco, monospace;
    font-size: 100px;
    border-right: 0.1em solid white;
    width: 16.5em;
    width: 11ch;
    margin-top: 10px;
    padding-left: 0px;
    margin-left: 0px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(11, end),
    blink-caret 0.5s step-end infinite alternate;
    margin-bottom: 80px;
    position: relative;
  }
  @media screen and (max-width:768px) {
    .contactHeader{
      font-size: 50px;
    }
  }