.contact {
    text-decoration: none;
    color: #3c456a;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact a {
    text-decoration: none;
    color: #3c456a;
    margin-left: 5%;

}

.bi {
    font-size: 25px;
    color: black !important;
}